.dialog-self{
    text-align: right;
    margin-right: 4px;
    margin-left: 4px;
    font-size: 17px;
    border: 1px solid #00b3ee;
    border-radius: 4px;
    margin-top: 8px;
}

.dialog-other{
    margin-top: 8px;
    text-align: left;
    margin-right: 4px;
    margin-left: 4px;
    font-size: 17px;
    border: 1px solid black;
    border-radius: 4px;
}

#show-list{
    position: relative;
    height: 65%;
    width: 100%;
    top: 0;
    list-style: none;
    overflow: auto;
}

#input-area{
    position: relative;
    top: 10px;
    width: 80%;
    height: 30%;
    resize: none;
    margin-left: 10%;
}